<div class="row">
  <!--Add Team-->
  <a routerLink="addTeam"><div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/add.png">
      <div class="caption">
        <h3>Add Team</h3>
      </div>
    </div>
  </div></a>
  <!--Delete Team-->
  <a routerLink="deleteTeam"><div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/delete.png">
      <div class="caption">
        <h3>Delete Team</h3>
      </div>
    </div>
  </div></a>
  <!--Add player-->
  <a routerLink="addPlayer"><div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/addPlayer.png">
      <div class="caption">
        <h3>Add Player</h3>
      </div>
    </div>
  </div></a>
  <!--Delete Player-->
  <a routerLink="deletePlayer"><div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/deletePlayer.png">
      <div class="caption">
        <h3>Delete Player</h3>
      </div>
    </div>
  </div></a>
  <!--Add Board Member-->
  <a routerLink="addBoardMember"><div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/addMember.png">
      <div class="caption">
        <h3>Add BoardMember</h3>
      </div>
    </div>
  </div></a>
  <!--Delete BoardMembers-->
  <a routerLink="deleteBoardMember"><div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/deleteMember.png">
      <div class="caption">
        <h3>Remove Member</h3>
      </div>
    </div>
  </div></a>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
