<div class="row" *ngIf="hide">
  <!--Add Team-->
  <a routerLink="deleteTeam" (click)="remove()"><div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/add.png">
      <div class="caption">

        <h3>Add Team</h3>
      </div>
    </div>
  </div></a>
  <!--Delete Team-->
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/delete.png">
      <div class="caption">
        <h3>Delete Team</h3>
      </div>
    </div>
  </div>
  <!--Add player-->
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/player.png">
      <div class="caption">
        <h3>Add Player</h3>
      </div>
    </div>
  </div>
  <!--Delete Player-->
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="../../assets/deletePlayer.png">
      <div class="caption">
        <h3>Delete Team</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
